<app-header></app-header>
<div class="image">
    <div class="container">
        <form [formGroup]="nuevoF" (ngSubmit)="postForm(nuevoF.value)">
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre del Paciente" formControlName="nombre">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Correo</label>
                <input type="text" class="form-control" placeholder="Correo" formControlName="correo">
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="exampleFormControlInput1">DNI</label>
                    <input type="text" class="form-control" placeholder="dni" formControlName="dni">
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1">Dirección</label>
                    <input type="text" class="form-control" placeholder="Dirección" formControlName="direccion">
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1">CP</label>
                    <input type="text" class="form-control" placeholder="Código Postal" formControlName="codigoPostal">
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="exampleFormControlInput1">Genero</label>
                    <input type="text" class="form-control" placeholder="Género" formControlName="genero">
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1">Telefono</label>
                    <input type="text" class="form-control" placeholder="Teléfono" formControlName="telefono">
                </div>
                <div class="col">
                    <label for="exampleFormControlInput1">Fecha Nacimiento</label>
                    <input type="date" class="form-control" placeholder="Fecha Nacimiento" formControlName="fechaNacimiento">
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-save">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                    </svg>
                    Gruardar
                </i>
            </button>
            <button type="button" class="btn btn-primary" (click)="salir()">
                <i class="bi bi-save">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
                        <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                        <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
                      </svg>
                    Salir
                </i>
            </button>
        </form>
    </div>
</div>
<app-footer></app-footer>
