<nav class="navbar navbar-light" style="background-color: rgb(43, 69, 71);">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <img src="https://img.icons8.com/ios-filled/50/000000/activity.png"/>
            <span class="navbar-brand mb-0 h1">DoctorApp</span>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light">
          </nav>
      </div>
</nav>

